<div *ngIf="showContent">

  <div class="container">
    
    <!-- generate the TOdo List -->
    <div *ngFor="let todo of todoList | async as list;">
      <app-to-do-card [todo]=todo (deleteClicked)="deleteToDoClicked($event)" (todoUpdated)="updateTodo($event)" ></app-to-do-card>
    </div>
    <!-- show the todo count -->
    <mat-hint *ngIf="(todoList | async)?.length" align="end" class="mat-caption">{{inCompleteTodoCount}} item left.
    </mat-hint>

    <!-- SHow the message if no todo is added -->
    <div *ngIf="!(todoList | async)?.length" class="mat-title no-todo">
      No To-Do Item added. Please click on 'Add' button.
    </div>
  </div>

  <!-- show the 'Add' button -->
  <div class="add-todo">
    <button mat-fab (click)="openToDoItemDialog()" id="btn-addTodo">+</button>
  </div>
</div>